<a href="https://colab.research.google.com/github/KenyanGeek/Predicting-Loan-Default/blob/master/Predicting_Loan_Default_for_Zindi_Using_Fast_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing the Data

# Predicting Loan Default using Fast.ai

In [0]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [3]:
from google.colab import files
uploaded = files.upload()

Saving data_train.csv to data_train.csv

In [4]:
import io


df_train = pd.read_csv(io.BytesIO(uploaded['data_train.csv']))

df_train

       Unnamed: 0  ... firstrepaiddate
0               0  ...         59:36.0
1               1  ...         42:44.0
2               2  ...         02:11.0
3               3  ...         52:45.0
4               4  ...         03:40.0
5               5  ...         14:05.0
6               6  ...         29:52.0
7               7  ...         47:08.0
8               8  ...         11:56.0
9               9  ...         30:48.0
10             10  ...         40:26.0
11             11  ...         19:59.0
12             12  ...         42:16.0
13             13  ...         39:27.0
14             14  ...         43:49.0
15             15  ...         18:55.0
16             16  ...         09:54.0
17             17  ...         47:21.0
18             18  ...         46:08.0
19             19  ...         14:49.0
20             20  ...         39:42.0
21             21  ...         29:22.0
22             22  ...         12:31.0
23             23  ...         48:25.0
24             24  ...         10:15.0
25             25  ...         17:11.0
26             26  ...         18:47.0
27             27  ...         54:05.0
28             28  ...         41:17.0
29             29  ...         27:11.0
...           ...  ...             ...
13663       13663  ...         14:15.0
13664       13664  ...         04:57.0
13665       13665  ...         11:41.0
13666       13666  ...         07:21.0
13667       13667  ...         38:22.0
13668       13668  ...         04:46.0
13669       13669  ...         34:01.0
13670       13670  ...         21:12.0
13671       13671  ...         00:52.0
13672       13672  ...         32:59.0
13673       13673  ...         10:47.0
13674       13674  ...         16:46.0
13675       13675  ...         07:46.0
13676       13676  ...         50:37.0
13677       13677  ...         44:38.0
13678       13678  ...         07:42.0
13679       13679  ...         35:10.0
13680       13680  ...         12:18.0
13681       13681  ...         29:10.0
13682       13682  ...         09:02.0
13683       13683  ...         46:38.0
13684       13684  ...         31:35.0
13685       13685  ...         46:59.0
13686       13686  ...         12:56.0
13687       13687  ...         16:03.0
13688       13688  ...         44:51.0
13689       13689  ...         53:24.0
13690       13690  ...         04:10.0
13691       13691  ...         52:41.0
13692       13692  ...         21:28.0

[13693 rows x 30 columns]

In [0]:
dep_var = 'good_bad_flag'
cat_names = ['birthdate','customerid','longitude_gps','latitude_gps','bank_account_type','bank_name_clients','bank_branch_clients','employment_status_clients','level_of_education_clients','systemloanid_x','loannumber_x','termdays_x','referredby_x','loannumber_y','termdays_y','referredby_y','approveddate_x','creationdate_x','creationdate_y','closeddate','firstduedate','firstrepaiddate']
cont_names = ['loanamount_x','totaldue_x','loanamount_y','totaldue_y']
procs = [FillMissing, Categorify, Normalize]

In [6]:
from google.colab import files
uploaded = files.upload()

Saving data_test.csv to data_test.csv

In [0]:
import io


df_test = pd.read_csv(io.BytesIO(uploaded['data_test.csv']))

test = TabularList.from_df(df_test, cat_names=cat_names, cont_names=cont_names, procs=procs)

In [0]:
data = (TabularList.from_df(df_train, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_rand_pct(0.2)
                           .label_from_df(cols=dep_var)
                           .add_test(test, label = 'good_bad_flag')
                           .databunch())

In [9]:
data.show_batch(rows=10)

In [0]:
learn = tabular_learner(data, layers=[1000,500], metrics=accuracy)

In [11]:
learn.fit(1, 1e-3)

## Here i can predict with 97% accuracy

## Next is to predict on all the test data and save that to an excel

In [0]:
probs = learn.get_preds(ds_type=DatasetType.Test)[0]

def probs2class(item): 
    return max(range(len(item)), key=item.__getitem__) 

test_df = pd.DataFrame({'customerid': df_test['customerid'], 'target': list(map(probs2class, probs))})
test_df.to_csv('final.csv', header=True, index=False)