<a href="https://colab.research.google.com/github/KenyanGeek/Predicting-Loan-Default/blob/master/Predicting_Loan_Default_for_Zindi_Using_Fast_ai.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preprocessing the Data

# Predicting Loan Default using Fast.ai

In [0]:
from fastai.tabular import *

Tabular data should be in a Pandas `DataFrame`.

In [4]:
from google.colab import files
uploaded = files.upload()

Saving data_train.csv to data_train.csv

In [5]:
import io


df_train = pd.read_csv(io.BytesIO(uploaded['data_train.csv']))

df_train

       Unnamed: 0  ... firstrepaiddate
0               0  ...         59:36.0
1               1  ...         42:44.0
2               2  ...         02:11.0
3               3  ...         52:45.0
4               4  ...         03:40.0
5               5  ...         14:05.0
6               6  ...         29:52.0
7               7  ...         47:08.0
8               8  ...         11:56.0
9               9  ...         30:48.0
10             10  ...         40:26.0
11             11  ...         19:59.0
12             12  ...         42:16.0
13             13  ...         39:27.0
14             14  ...         43:49.0
15             15  ...         18:55.0
16             16  ...         09:54.0
17             17  ...         47:21.0
18             18  ...         46:08.0
19             19  ...         14:49.0
20             20  ...         39:42.0
21             21  ...         29:22.0
22             22  ...         12:31.0
23             23  ...         48:25.0
24             24  ...         10:15.0
25             25  ...         17:11.0
26             26  ...         18:47.0
27             27  ...         54:05.0
28             28  ...         41:17.0
29             29  ...         27:11.0
...           ...  ...             ...
13663       13663  ...         14:15.0
13664       13664  ...         04:57.0
13665       13665  ...         11:41.0
13666       13666  ...         07:21.0
13667       13667  ...         38:22.0
13668       13668  ...         04:46.0
13669       13669  ...         34:01.0
13670       13670  ...         21:12.0
13671       13671  ...         00:52.0
13672       13672  ...         32:59.0
13673       13673  ...         10:47.0
13674       13674  ...         16:46.0
13675       13675  ...         07:46.0
13676       13676  ...         50:37.0
13677       13677  ...         44:38.0
13678       13678  ...         07:42.0
13679       13679  ...         35:10.0
13680       13680  ...         12:18.0
13681       13681  ...         29:10.0
13682       13682  ...         09:02.0
13683       13683  ...         46:38.0
13684       13684  ...         31:35.0
13685       13685  ...         46:59.0
13686       13686  ...         12:56.0
13687       13687  ...         16:03.0
13688       13688  ...         44:51.0
13689       13689  ...         53:24.0
13690       13690  ...         04:10.0
13691       13691  ...         52:41.0
13692       13692  ...         21:28.0

[13693 rows x 30 columns]

In [0]:
dep_var = 'good_bad_flag'
cat_names = ['birthdate','customerid','longitude_gps','latitude_gps','bank_account_type','bank_name_clients','bank_branch_clients','employment_status_clients','level_of_education_clients','systemloanid_x','loannumber_x','termdays_x','referredby_x','loannumber_y','termdays_y','referredby_y','approveddate_x','creationdate_x','creationdate_y','closeddate','firstduedate','firstrepaiddate']
cont_names = ['loanamount_x','totaldue_x','loanamount_y','totaldue_y']
procs = [FillMissing, Categorify, Normalize]

In [34]:
from google.colab import files
uploaded = files.upload()

Saving data_test.csv to data_test.csv

In [35]:
import io


df_test = pd.read_csv(io.BytesIO(uploaded['data_test.csv']))

df_test

                            customerid birthdate  ... firstduedate  firstrepaiddate
0     8a858f305c8dd672015c93b1db645db4   00:00.0  ...      00:00.0          13:36.0
1     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          33:01.0
2     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          58:24.0
3     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          23:18.0
4     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          29:10.0
5     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          14:03.0
6     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          57:35.0
7     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          41:05.0
8     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          00:12.0
9     8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          15:14.0
10    8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          48:29.0
11    8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          53:42.0
12    8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          08:00.0
13    8a858fde56eb02280156eb6dafc128ac   00:00.0  ...      00:00.0          43:40.0
14    8a858e695775665c015779a1a5cc1192   00:00.0  ...      00:00.0          13:21.0
15    8a858e695775665c015779a1a5cc1192   00:00.0  ...      00:00.0          42:23.0
16    8a858e695775665c015779a1a5cc1192   00:00.0  ...      00:00.0          31:44.0
17    8a858e695775665c015779a1a5cc1192   00:00.0  ...      00:00.0          47:33.0
18    8a858e695775665c015779a1a5cc1192   00:00.0  ...      00:00.0          14:22.0
19    8a858e695775665c015779a1a5cc1192   00:00.0  ...      00:00.0          46:30.0
20    8a858e695775665c015779a1a5cc1192   00:00.0  ...      00:00.0          09:04.0
21    8a858fcf5b39c3ba015b3d9f215c3922   00:00.0  ...      00:00.0          35:34.0
22    8a858fcf5b39c3ba015b3d9f215c3922   00:00.0  ...      00:00.0          32:52.0
23    8a858edc5ceea2e6015ceea77c5c0300   00:00.0  ...      00:00.0          48:31.0
24    8a8588c2546bf759015471842d602473   00:00.0  ...      00:00.0          43:44.0
25    8a8588c2546bf759015471842d602473   00:00.0  ...      00:00.0          17:53.0
26    8a8588c2546bf759015471842d602473   00:00.0  ...      00:00.0          49:41.0
27    8a858ef85a613c85015a684e546a4e82   00:00.0  ...      00:00.0          08:21.0
28    8a858ef85a613c85015a684e546a4e82   00:00.0  ...      00:00.0          42:04.0
29    8a858ec75c11a07a015c16a2289b4fa7   00:00.0  ...      00:00.0          48:39.0
...                                ...       ...  ...          ...              ...
1575  8a858f195a374aff015a374cdbbb01a4   00:00.0  ...      00:00.0          08:16.0
1576  8a858f195a374aff015a374cdbbb01a4   00:00.0  ...      00:00.0          21:53.0
1577  8a858e675a3bef15015a3c06da560bdd   00:00.0  ...      00:00.0          41:09.0
1578  8a858fee5863a04901586c7547896071   00:00.0  ...      00:00.0          55:19.0
1579  8a858fee5863a04901586c7547896071   00:00.0  ...      00:00.0          08:15.0
1580  8a858fee5863a04901586c7547896071   00:00.0  ...      00:00.0          52:40.0
1581  8a858fee5863a04901586c7547896071   00:00.0  ...      00:00.0          29:48.0
1582  8a858fee5863a04901586c7547896071   00:00.0  ...      00:00.0          51:05.0
1583  8a858fee5863a04901586c7547896071   00:00.0  ...      00:00.0          22:21.0
1584  8a858e345bd96da8015be4fad6386f24   00:00.0  ...      00:00.0          48:30.0
1585  8a858e345bd96da8015be4fad6386f24   00:00.0  ...      00:00.0          58:11.0
1586  8a858e775b10631f015b1099fea22372   00:00.0  ...      00:00.0          27:46.0
1587  8a858e775b10631f015b1099fea22372   00:00.0  ...      00:00.0          27:04.0
1588  8a858e775b10631f015b1099fea22372   00:00.0  ...      00:00.0          28:11.0
1589  8a858ebc5b43210a015b4326f173080e   00:00.0  ...      00:00.0          13:59.0
1590  8a858faf5679a838015685e32ce57cb0   00:00.0  ...      00:00.0          29:34.0
1591  8a858faf5679a838015685e32ce57cb0   00:00.0  ...      00:00.0          47:31.0
1592  8a858faf5679a838015685e32ce57cb0   00:00.0  ...      00:00.0          53:04.0
1593  8a858faf5679a838015685e32ce57cb0   00:00.0  ...      00:00.0          46:56.0
1594  8a858faf5679a838015685e32ce57cb0   00:00.0  ...      00:00.0          25:13.0
1595  8a858e445cd56553015ce0837e8536e7   00:00.0  ...      00:00.0          58:01.0
1596  8a858e675c3fe0a1015c44ba8a037fee   00:00.0  ...      00:00.0          01:05.0
1597  8a858fda5c1bd1f7015c1be7f7450f37   00:00.0  ...      00:00.0          22:20.0
1598  8a858fda5c1bd1f7015c1be7f7450f37   00:00.0  ...      00:00.0          03:53.0
1599  8a858f0c5ca18b3d015ca194f4a60867   00:00.0  ...      00:00.0          20:28.0
1600  8a858e675b00c831015b06776ce75e69   00:00.0  ...      00:00.0          23:14.0
1601  8a858e675b00c831015b06776ce75e69   00:00.0  ...      00:00.0          12:14.0
1602  8a858e675b00c831015b06776ce75e69   00:00.0  ...      00:00.0          07:11.0
1603  8a858e675b00c831015b06776ce75e69   00:00.0  ...      00:00.0          04:03.0
1604  8a85881053bc33670153c79e8e84571a   00:00.0  ...      00:00.0          34:45.0

[1605 rows x 28 columns]

In [0]:
data = (TabularList.from_df(df_train, cat_names=cat_names, cont_names=cont_names, procs=procs)
                           .split_by_rand_pct(0.2)
                           .label_from_df(cols=dep_var)
                           .databunch())

In [65]:
data.show_batch(rows=10)

In [0]:
learn = tabular_learner(data, layers=[1000,500], metrics=accuracy)

In [70]:
learn.fit(3, 1e-2)

## Inference

In [71]:
df_test.iloc[1006]

customerid                    8a858fa859a7641e0159a9122c3c61b5
birthdate                                              00:00.0
bank_account_type                                      Savings
longitude_gps                                          3.33685
latitude_gps                                           6.56499
bank_name_clients                                      GT Bank
bank_branch_clients                                        NaN
employment_status_clients                            Permanent
level_of_education_clients                                 NaN
systemloanid_x                                       301976334
loannumber_x                                                 5
approveddate_x                                         18:56.0
creationdate_x                                         18:49.0
loanamount_x                                             20000
totaldue_x                                               24500
termdays_x                                                  30
referredby_x                                               NaN
systemloanid_y                                       301942601
loannumber_y                                                 4
approveddate_y                                         05:45.0
creationdate_y                                         05:39.0
loanamount_y                                             20000
totaldue_y                                               24500
termdays_y                                                  30
closeddate                                             05:42.0
referredby_y                                               NaN
firstduedate                                           00:00.0
firstrepaiddate                                        55:34.0
Name: 1006, dtype: object

In [72]:
row = df_test.iloc[1006]

learn.predict(row)

(Category Good, tensor(1), tensor([1.6529e-07, 1.0000e+00]))

## Here i can predict with 96% accuracy