# Predicting Loan Default Data Transformation

Ideas:
    
    - Looking at that data there are useful columns and useless columns that we need to eliminate
    - Also there are columns that can be combined to bring about useful metrics
    - Combine these
    - Feed into a neural network
    - Use the model generated to predict the risk of rending 
    - Submit to Zindi

## Import Data into pandas dataframes

In [1]:

import pandas as pd

In [2]:
testdemographic = 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\testdata\\testdemographics.csv'
testperf = 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\testdata\\testperf.csv'
testprevloans = 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\testdata\\testprevloans.csv'

dftest1 = pd.read_csv( testdemographic, header=0)

dftest2 = pd.read_csv( testperf, header=0)

dftest3 = pd.read_csv( testprevloans, header=0)

In [3]:
traindemographic = 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\traindata\\traindemographics.csv'
trainperf = 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\traindata\\trainperf.csv'
trainprevloans = 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\traindata\\trainprevloans.csv'

dftrain1 = pd.read_csv( traindemographic, header=0)

dftrain2 = pd.read_csv( trainperf, header=0)

dftrain3 = pd.read_csv( trainprevloans, header=0)

In [4]:
df_test_col = pd.merge(dftest1, dftest2,  how='inner', on = 'customerid')#.drop()--->drop the second id

df_test_col = pd.merge(df_test_col, dftest3,how='inner', on = 'customerid')

df_test = df_test_col

df_test.dtypes

customerid                     object
birthdate                      object
bank_account_type              object
longitude_gps                 float64
latitude_gps                  float64
bank_name_clients              object
bank_branch_clients            object
employment_status_clients      object
level_of_education_clients     object
systemloanid_x                  int64
loannumber_x                    int64
approveddate_x                 object
creationdate_x                 object
loanamount_x                    int64
totaldue_x                    float64
termdays_x                      int64
referredby_x                   object
systemloanid_y                  int64
loannumber_y                    int64
approveddate_y                 object
creationdate_y                 object
loanamount_y                    int64
totaldue_y                    float64
termdays_y                      int64
closeddate                     object
referredby_y                   object
firstduedate                   object
firstrepaiddate                object
dtype: object

In [5]:
df_train_col = pd.merge(dftrain1, dftrain2, how='inner', left_on='customerid', right_on = 'customerid')#.drop()--->drop the second id

df_train_col = pd.merge(df_train_col, dftrain3, how='inner', left_on='customerid', right_on = 'customerid')

df_train = df_train_col

In [6]:
df_train.dtypes

customerid                     object
birthdate                      object
bank_account_type              object
longitude_gps                 float64
latitude_gps                  float64
bank_name_clients              object
bank_branch_clients            object
employment_status_clients      object
level_of_education_clients     object
systemloanid_x                  int64
loannumber_x                    int64
approveddate_x                 object
creationdate_x                 object
loanamount_x                    int64
totaldue_x                    float64
termdays_x                      int64
referredby_x                   object
good_bad_flag                  object
systemloanid_y                  int64
loannumber_y                    int64
approveddate_y                 object
creationdate_y                 object
loanamount_y                    int64
totaldue_y                    float64
termdays_y                      int64
closeddate                     object
referredby_y                   object
firstduedate                   object
firstrepaiddate                object
dtype: object

In [7]:
df_train

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients,systemloanid_x,...,loannumber_y,approveddate_y,creationdate_y,loanamount_y,totaldue_y,termdays_y,closeddate,referredby_y,firstduedate,firstrepaiddate
0,8a858e135cb22031015cbafc76964ebd,1973-10-10 00:00:00.000000,Savings,3.319219,6.528604,GT Bank,NaN,NaN,NaN,301964962,...,1,55:26.0,54:19.0,10000,11500.0,15,09:47.0,8a858899538ddb8e0153a780c56e34bb,00:00.0,59:36.0
1,8a858e275c7ea5ec015c82482d7c3996,1986-01-21 00:00:00.000000,Savings,3.325598,7.119403,Sterling Bank,NaN,Permanent,NaN,301972172,...,1,47:30.0,46:22.0,10000,13000.0,30,52:54.0,NaN,00:00.0,42:44.0
2,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,5.746100,5.563174,Fidelity Bank,NaN,NaN,NaN,301976271,...,3,49:34.0,49:27.0,10000,13000.0,30,12:20.0,NaN,00:00.0,02:11.0
3,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,5.746100,5.563174,Fidelity Bank,NaN,NaN,NaN,301976271,...,1,07:01.0,06:40.0,10000,11500.0,15,02:53.0,NaN,00:00.0,52:45.0
4,8a858e5b5bd99460015bdc95cd485634,1987-04-01 00:00:00.000000,Savings,5.746100,5.563174,Fidelity Bank,NaN,NaN,NaN,301976271,...,2,10:41.0,10:34.0,10000,11500.0,15,13:50.0,NaN,00:00.0,03:40.0
5,8a858efd5ca70688015cabd1f1e94b55,1991-07-19 00:00:00.000000,Savings,3.362850,6.642485,GT Bank,NaN,Permanent,NaN,301997763,...,1,05:26.0,04:18.0,10000,11500.0,15,24:13.0,NaN,00:00.0,14:05.0
6,8a858ea05a859123015a8892914d15b7,1990-07-21 00:00:00.000000,Savings,3.365935,6.564823,Access Bank,NaN,Permanent,NaN,301992494,...,3,59:19.0,59:13.0,10000,13000.0,30,45:02.0,NaN,00:00.0,29:52.0
7,8a858ea05a859123015a8892914d15b7,1990-07-21 00:00:00.000000,Savings,3.365935,6.564823,Access Bank,NaN,Permanent,NaN,301992494,...,5,07:32.0,06:24.0,20000,24500.0,30,57:17.0,NaN,00:00.0,47:08.0
8,8a858ea05a859123015a8892914d15b7,1990-07-21 00:00:00.000000,Savings,3.365935,6.564823,Access Bank,NaN,Permanent,NaN,301992494,...,4,56:10.0,56:04.0,20000,24500.0,30,22:04.0,NaN,00:00.0,11:56.0
9,8a858ea05a859123015a8892914d15b7,1990-07-21 00:00:00.000000,Savings,3.365935,6.564823,Access Bank,NaN,Permanent,NaN,301992494,...,2,10:12.0,10:04.0,10000,13000.0,30,45:58.0,NaN,00:00.0,30:48.0
10,8a858ea05a859123015a8892914d15b7,1990-07-21 00:00:00.000000,Savings,3.365935,6.564823,Access Bank,NaN,Permanent,NaN,301992494,...,1,42:48.0,42:38.0,10000,13000.0,30,55:35.0,NaN,00:00.0,40:26.0
11,8a858f405d13c45f015d13dd93ec0c1c,1992-11-17 00:00:00.000000,Savings,3.290590,6.612075,EcoBank,NaN,Permanent,NaN,302000213,...,1,09:14.0,09:01.0,10000,13000.0,30,30:09.0,NaN,00:00.0,19:59.0
12,8a858f2a5ce989dd015ce9fc24b1474b,1994-12-11 00:00:00.000000,Savings,3.350238,7.138162,FCMB,NaN,NaN,NaN,301966939,...,1,00:15.0,59:04.0,10000,11500.0,15,52:25.0,NaN,00:00.0,42:16.0
13,8a858f3a5c10828d015c109746d20aee,1970-07-19 00:00:00.000000,Savings,5.768004,5.559055,Skye Bank,NaN,Permanent,NaN,301983781,...,1,07:07.0,05:59.0,10000,13000.0,30,49:36.0,NaN,00:00.0,39:27.0
14,8a858fb4563228d201564fd7519f22a8,1994-06-03 00:00:00.000000,Other,3.381093,6.608266,UBA,NaN,Student,Secondary,301960555,...,1,30:32.0,30:22.0,10000,11500.0,15,58:53.0,NaN,00:00.0,43:49.0
15,8a858fb4563228d201564fd7519f22a8,1994-06-03 00:00:00.000000,Other,3.381093,6.608266,UBA,NaN,Student,Secondary,301960555,...,5,18:11.0,18:05.0,20000,23800.0,30,46:31.0,NaN,00:00.0,18:55.0
16,8a858fb4563228d201564fd7519f22a8,1994-06-03 00:00:00.000000,Other,3.381093,6.608266,UBA,NaN,Student,Secondary,301960555,...,2,27:08.0,27:00.0,10000,13000.0,30,07:50.0,NaN,00:00.0,09:54.0
17,8a858fb4563228d201564fd7519f22a8,1994-06-03 00:00:00.000000,Other,3.381093,6.608266,UBA,NaN,Student,Secondary,301960555,...,4,38:03.0,37:54.0,20000,21900.0,15,02:30.0,NaN,00:00.0,47:21.0
18,8a858fb4563228d201564fd7519f22a8,1994-06-03 00:00:00.000000,Other,3.381093,6.608266,UBA,NaN,Student,Secondary,301960555,...,6,15:44.0,15:38.0,20000,24500.0,30,59:42.0,NaN,00:00.0,46:08.0
19,8a858fb4563228d201564fd7519f22a8,1994-06-03 00:00:00.000000,Other,3.381093,6.608266,UBA,NaN,Student,Secondary,301960555,...,3,37:11.0,36:53.0,10000,11500.0,15,29:57.0,NaN,00:00.0,14:49.0
20,8a858f955a61ad4e015a69ee1edd0d3d,1986-04-15 00:00:00.000000,Savings,3.357961,6.512517,GT Bank,NaN,Permanent,NaN,301983384,...,1,17:43.0,17:31.0,10000,11500.0,15,54:51.0,NaN,00:00.0,39:42.0
21,8a858f955a61ad4e015a69ee1edd0d3d,1986-04-15 00:00:00.000000,Savings,3.357961,6.512517,GT Bank,NaN,Permanent,NaN,301983384,...,4,00:17.0,00:10.0,20000,24500.0,30,39:31.0,NaN,00:00.0,29:22.0
22,8a858f955a61ad4e015a69ee1edd0d3d,1986-04-15 00:00:00.000000,Savings,3.357961,6.512517,GT Bank,NaN,Permanent,NaN,301983384,...,2,04:02.0,03:56.0,10000,13000.0,30,22:39.0,NaN,00:00.0,12:31.0
23,8a858f955a61ad4e015a69ee1edd0d3d,1986-04-15 00:00:00.000000,Savings,3.357961,6.512517,GT Bank,NaN,Permanent,NaN,301983384,...,3,33:31.0,33:20.0,10000,11500.0,15,58:34.0,NaN,00:00.0,48:25.0
24,8a858ff25a6a19ee015a6abff5ed659c,1988-12-22 00:00:00.000000,Savings,7.507836,9.048372,EcoBank,NaN,Permanent,NaN,301977280,...,1,31:21.0,31:14.0,10000,13000.0,30,25:27.0,NaN,00:00.0,10:15.0
25,8a858ff25a6a19ee015a6abff5ed659c,1988-12-22 00:00:00.000000,Savings,7.507836,9.048372,EcoBank,NaN,Permanent,NaN,301977280,...,3,24:14.0,24:05.0,10000,13000.0,30,54:20.0,NaN,00:00.0,17:11.0
26,8a858ff25a6a19ee015a6abff5ed659c,1988-12-22 00:00:00.000000,Savings,7.507836,9.048372,EcoBank,NaN,Permanent,NaN,301977280,...,2,00:37.0,00:30.0,10000,13000.0,30,33:55.0,NaN,00:00.0,18:47.0
27,8a858e6c5c88d145015c894de1a91c5c,1988-04-22 00:00:00.000000,Savings,3.363275,7.145507,GT Bank,NaN,Permanent,NaN,301958736,...,1,29:01.0,27:53.0,10000,13000.0,30,04:14.0,NaN,00:00.0,54:05.0
28,8a858eb45876dcc501587dae11f2283e,1989-03-07 00:00:00.000000,Savings,6.974436,4.811343,Access Bank,NaN,Permanent,NaN,302003197,...,4,45:33.0,45:20.0,20000,23800.0,30,56:28.0,NaN,00:00.0,41:17.0
29,8a858eb45876dcc501587dae11f2283e,1989-03-07 00:00:00.000000,Savings,6.974436,4.811343,Access Bank,NaN,Permanent,NaN,302003197,...,5,13:44.0,13:30.0,20000,22250.0,15,37:20.0,NaN,00:00.0,27:11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13663,8a858e045b495c30015b4bd1bd395aad,1975-02-15 00:00:00.000000,Savings,3.295308,6.708121,GT Bank,NaN,Permanent,NaN,301983960,...,2,43:07.0,42:59.0,10000,13000.0,30,24:25.0,NaN,00:00.0,14:15.0
13664,8a858e045b495c30015b4bd1bd395aad,1975-02-15 00:00:00.000000,Savings,3.295308,6.708121,GT Bank,NaN,Permanent,NaN,301983960,...,1,59:52.0,59:33.0,10000,13000.0,30,20:06.0,NaN,00:00.0,04:57.0
13665,8a858e6f5cd5e874015ce8ea0b996796,1966-04-08 00:00:00.000000,Savings,3.593451,6.668003,Access Bank,NaN,NaN,NaN,301985528,...,1,28:03.0,26:55.0,10000,11500.0,15,21:50.0,NaN,00:00.0,11:41.0
13666,8a858f975c4582c4015c4c882e054c96,1990-10-28 00:00:00.000000,Savings,3.150744,6.712440,Zenith Bank,NaN,NaN,NaN,301982545,...,1,18:26.0,18:14.0,10000,11500.0,15,17:30.0,NaN,00:00.0,07:21.0
13667,8a858f975c4582c4015c4c882e054c96,1990-10-28 00:00:00.000000,Savings,3.150744,6.712440,Zenith Bank,NaN,NaN,NaN,301982545,...,2,02:08.0,02:02.0,10000,11500.0,15,48:31.0,NaN,00:00.0,38:22.0
13668,8a858f975c4582c4015c4c882e054c96,1990-10-28 00:00:00.000000,Savings,3.150744,6.712440,Zenith Bank,NaN,NaN,NaN,301982545,...,3,09:27.0,09:20.0,10000,11000.0,15,14:56.0,NaN,00:00.0,04:46.0
13669,8a858e685c217d36015c223d219926a4,1990-02-17 00:00:00.000000,Savings,3.343461,6.623492,Fidelity Bank,NaN,Permanent,NaN,301978019,...,2,37:24.0,37:17.0,10000,13000.0,30,44:11.0,NaN,00:00.0,34:01.0
13670,8a858e685c217d36015c223d219926a4,1990-02-17 00:00:00.000000,Savings,3.343461,6.623492,Fidelity Bank,NaN,Permanent,NaN,301978019,...,1,19:24.0,19:17.0,10000,13000.0,30,31:21.0,NaN,00:00.0,21:12.0
13671,8a858fbc5cc666c8015cc9b715f420a8,1967-06-26 00:00:00.000000,Savings,3.339679,7.126463,Stanbic IBTC,NaN,Permanent,NaN,301968937,...,1,02:49.0,01:37.0,10000,11500.0,15,11:00.0,NaN,00:00.0,00:52.0
13672,8a858f735b437619015b437bf3d30bdc,1982-10-19 00:00:00.000000,Savings,3.306874,6.669184,GT Bank,NaN,Permanent,NaN,301978422,...,1,54:58.0,54:41.0,10000,11500.0,15,48:09.0,NaN,00:00.0,32:59.0
13673,8a858f735b437619015b437bf3d30bdc,1982-10-19 00:00:00.000000,Savings,3.306874,6.669184,GT Bank,NaN,Permanent,NaN,301978422,...,2,39:34.0,39:28.0,10000,11500.0,15,25:57.0,NaN,00:00.0,10:47.0
13674,8a858fc45c5f93be015c61e0e5e55e38,1986-02-16 00:00:00.000000,Savings,3.353483,6.651007,GT Bank,NaN,NaN,NaN,301981333,...,2,17:00.0,16:54.0,10000,11500.0,15,37:01.0,NaN,00:00.0,16:46.0
13675,8a858fc45c5f93be015c61e0e5e55e38,1986-02-16 00:00:00.000000,Savings,3.353483,6.651007,GT Bank,NaN,NaN,NaN,301981333,...,1,06:21.0,06:14.0,10000,11500.0,15,17:55.0,NaN,00:00.0,07:46.0
13676,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,4,36:40.0,36:34.0,10000,11500.0,15,05:13.0,NaN,00:00.0,50:37.0
13677,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,6,47:30.0,47:18.0,10000,11500.0,15,59:42.0,NaN,00:00.0,44:38.0
13678,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,7,02:04.0,01:55.0,10000,11125.0,15,22:51.0,NaN,00:00.0,07:42.0
13679,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,3,08:33.0,08:25.0,10000,11500.0,15,03:32.0,NaN,00:00.0,35:10.0
13680,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,9,44:33.0,44:26.0,30000,34400.0,30,27:29.0,NaN,00:00.0,12:18.0
13681,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,8,08:38.0,08:20.0,30000,34400.0,30,44:20.0,NaN,00:00.0,29:10.0
13682,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,5,59:57.0,59:51.0,10000,11500.0,15,05:25.0,NaN,00:00.0,09:02.0
13683,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,10,55:02.0,54:47.0,30000,36800.0,60,40:40.0,NaN,00:00.0,46:38.0
13684,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,1,31:41.0,31:34.0,5000,5750.0,15,02:51.0,NaN,00:00.0,31:35.0
13685,8a85897353d85af80153d8a368020159,1983-06-07 00:00:00.000000,Other,7.046360,5.499944,UBA,NaN,Self-Employed,NaN,301971930,...,2,26:21.0,26:16.0,10000,11500.0,15,02:31.0,NaN,00:00.0,46:59.0
13686,8a858f155554552501555588ca2b3b40,1985-12-13 00:00:00.000000,Other,3.236753,7.030168,Stanbic IBTC,NaN,Permanent,Graduate,301990956,...,6,11:44.0,11:37.0,20000,24000.0,30,23:05.0,NaN,00:00.0,12:56.0
13687,8a858f155554552501555588ca2b3b40,1985-12-13 00:00:00.000000,Other,3.236753,7.030168,Stanbic IBTC,NaN,Permanent,Graduate,301990956,...,2,13:40.0,13:26.0,10000,13000.0,30,39:37.0,NaN,00:00.0,16:03.0
13688,8a858f155554552501555588ca2b3b40,1985-12-13 00:00:00.000000,Other,3.236753,7.030168,Stanbic IBTC,NaN,Permanent,Graduate,301990956,...,1,36:03.0,35:56.0,10000,11500.0,15,59:54.0,NaN,00:00.0,44:51.0
13689,8a858f155554552501555588ca2b3b40,1985-12-13 00:00:00.000000,Other,3.236753,7.030168,Stanbic IBTC,NaN,Permanent,Graduate,301990956,...,5,39:27.0,39:21.0,10000,13000.0,30,03:34.0,NaN,00:00.0,53:24.0
13690,8a858f155554552501555588ca2b3b40,1985-12-13 00:00:00.000000,Other,3.236753,7.030168,Stanbic IBTC,NaN,Permanent,Graduate,301990956,...,3,16:36.0,16:28.0,10000,13000.0,30,19:20.0,NaN,00:00.0,04:10.0
13691,8a858f155554552501555588ca2b3b40,1985-12-13 00:00:00.000000,Other,3.236753,7.030168,Stanbic IBTC,NaN,Permanent,Graduate,301990956,...,4,21:24.0,21:09.0,10000,13000.0,30,07:50.0,NaN,00:00.0,52:41.0
13692,8a858fc65cf978f4015cf97cee3a02ce,1982-07-01 00:00:00.000000,Savings,7.013749,4.875662,GT Bank,NaN,NaN,NaN,301989135,...,1,50:14.0,49:05.0,10000,11500.0,15,31:38.0,8a858ea75cef5535015cf36a4ef31265,00:00.0,21:28.0

In [11]:
#export df_train to folder

def dataframe_to_csv(filename, DataFrame):
    """Export entire DataFrame to csv."""
    output = DataFrame
    output.to_csv(filename, index=True)
    
dataframe_to_csv(r'C:\Users\Njoroge Wa Chege\Desktop\Zindi Challenges\Predicting Loan Defaults\data\data_train.csv', df_train)

In [ ]:
#export df_test to folder

def dataframe_to_csv(filename, DataFrame):
    """Export entire DataFrame to csv."""
    output = DataFrame
    output.to_csv(filename, index=True)
    
dataframe_to_csv(r'C:\Users\Njoroge Wa Chege\Desktop\Zindi Challenges\Predicting Loan Defaults\data\data_test.csv', df_test)