# Predicting Loan Default Data Transformation

Ideas:
    
    - Looking at that data there are useful columns and useless columns that we need to eliminate
    - Also there are columns that can be combined to bring about useful metrics
    - Combine these
    - Feed into a neural network
    - Use the model generated to predict the risk of rending 
    - Submit to Zindi

## Import Data into pandas dataframes

In [7]:
%ls #check where we are in the directory

 Volume in drive C is Windows8_OS
 Volume Serial Number is 6A7D-91D2

 Directory of C:\Users\Njoroge Wa Chege\Desktop\Zindi Challenges\Predicting Loan Defaults

05/15/2019  05:08 PM    <DIR>          .
05/15/2019  05:08 PM    <DIR>          ..
05/15/2019  04:48 PM    <DIR>          .ipynb_checkpoints
05/15/2019  05:07 PM    <DIR>          data
05/15/2019  04:40 PM    <DIR>          dtransformation
05/15/2019  05:08 PM             3,664 Predicting Loan Default Data Transformation.ipynb
               1 File(s)          3,664 bytes
               5 Dir(s)  113,502,003,200 bytes free

In [33]:
import glob
import pandas as pd

glob.glob('C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data/**/*.csv') #returns List[str]

['C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\Sample Submission\\SampleSubmission.csv',
 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\testdata\\testdemographics.csv',
 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\testdata\\testperf.csv',
 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\testdata\\testprevloans.csv',
 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\traindata\\traindemographics.csv',
 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\traindata\\trainperf.csv',
 'C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data\\traindata\\trainprevloans.csv']

In [43]:
#joining all the files together to one excel sheet

df = pd.concat([pd.read_csv(f) for f in glob.glob('C:/Users/Njoroge Wa Chege/Desktop/Zindi Challenges/Predicting Loan Defaults/data/**/*.csv')], ignore_index = True, sort=False)

In [41]:
df

,customerid,birthdate,bank_account_type,longitude_gps,latitude_gps,bank_name_clients,bank_branch_clients,employment_status_clients,level_of_education_clients,systemloanid,...,approveddate,creationdate,loanamount,totaldue,termdays,referredby,closeddate,firstduedate,firstrepaiddate,good_bad_flag
0,8a858f305c8dd672015c93b1db645db4,1976-08-28 00:00:00.000000,Savings,5.296628,7.593965,Heritage Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8a858f085a477386015a47fb049e49ca,1978-06-23 00:00:00.000000,Savings,3.294513,6.596602,UBA,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,8a858e6f5cd5e874015cd6f5634c39ad,1984-04-04 00:00:00.000000,Savings,8.501912,7.729364,First Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,8a858e9d5bfd7037015bfdab79f61305,1983-05-28 00:00:00.000000,Savings,3.318904,6.681595,UBA,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,8a858fde56eb02280156eb6dafc128ac,1982-03-29 00:00:00.000000,Savings,6.354624,4.949031,First Bank,NaN,Self-Employed,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,8a858e695775665c015779a1a5cc1192,1988-11-19 00:00:00.000000,Other,3.307558,7.112214,Access Bank,NaN,Self-Employed,Post-Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,8a858e225c404292015c4e2b42c67bbe,1986-05-27 00:00:00.000000,Savings,8.349746,4.964838,First Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8a858fcf5b39c3ba015b3d9f215c3922,1978-06-11 00:00:00.000000,Savings,3.892932,7.408140,GT Bank,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8a858edd5c8348c4015c8452bc364cd7,1982-02-06 00:00:00.000000,Savings,3.432870,6.837874,Stanbic IBTC,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,8a858ef25c8393f8015c86783932595b,1991-02-09 00:00:00.000000,Savings,7.527908,6.427476,Diamond Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,8a858edc5ceea2e6015ceea77c5c0300,1987-10-20 00:00:00.000000,Savings,8.339893,5.028449,Diamond Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,8a858e5856b7840c0156bb256d6e0e6a,1991-01-11 00:00:00.000000,Other,3.309942,6.461257,GT Bank,NaN,Self-Employed,Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,8a858e8b5bc9e7e6015bcd7b7ee305b9,1983-12-25 00:00:00.000000,Savings,3.484045,6.628056,GT Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8a858e585693982b015698da71ca5342,1975-12-07 00:00:00.000000,Other,3.508716,6.604927,Zenith Bank,NaN,Permanent,Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,8a858e785c8d9167015c90a6e2c45e08,1982-06-28 00:00:00.000000,Savings,8.365703,4.978805,Access Bank,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8a8588c2546bf759015471842d602473,1991-08-17 00:00:00.000000,Savings,3.194129,6.490132,Access Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,8a858ee45b62dadc015b660294b5292e,1975-03-14 00:00:00.000000,Savings,3.203233,6.789578,UBA,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,8a858ef358d4a48e0158d50224cb12c5,1966-04-04 00:00:00.000000,Savings,4.545483,7.485733,Union Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,8a858ef85a613c85015a684e546a4e82,1988-06-12 00:00:00.000000,Savings,3.911841,7.529853,GT Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,8a858ff257048b50015709ffa148518e,1984-04-18 00:00:00.000000,Savings,8.512482,7.717232,FCMB,NaN,Self-Employed,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,8a858e9b5bcf8546015bcff969fd0f8f,1991-09-06 00:00:00.000000,Savings,7.396520,9.060305,First Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,8a85888c548fb3d501549593ea277c88,1970-03-22 00:00:00.000000,Savings,3.864858,7.472580,GT Bank,NaN,Permanent,Post-Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,8a858ec75c11a07a015c16a2289b4fa7,1972-02-16 00:00:00.000000,Savings,3.274242,6.469213,Skye Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,8a858ef7597cf4c501597e2416f907aa,1982-02-25 00:00:00.000000,Savings,5.216718,7.266246,GT Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,8a858ec95afc0922015aff7d927011fb,1982-07-28 00:00:00.000000,Savings,3.275533,6.476880,UBA,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,8a858ed75732b68101574d1614f23803,1983-07-28 00:00:00.000000,Other,3.377692,6.551124,GT Bank,NaN,Permanent,Graduate,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,8a858ede5ca210f0015ca340de706114,1985-07-24 00:00:00.000000,Savings,3.550017,6.452325,GT Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,8a858ec655f96b320156071dd95b4be0,1984-10-25 00:00:00.000000,Other,3.420987,6.427138,GT Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,8a858fa25c120898015c132919e544fc,1982-12-10 00:00:00.000000,Savings,7.242690,5.438072,First Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,8a858e135cb22031015cb58116983b37,1986-06-05 00:00:00.000000,Savings,7.151251,4.401684,GT Bank,NaN,Permanent,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35711,8a858f3e5885ffa30158928cad6501c6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301772259.0,...,2016-12-11 17:34:33.000000,2016-12-11 16:34:23.000000,10000.0,11500.0,15.0,NaN,2017-01-04 10:00:28.000000,2016-12-27 00:00:00.000000,2017-01-04 09:45:18.000000,NaN
35712,8a858f585a6bfa1d015a6f8b2d582fb9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301836927.0,...,2017-03-13 10:08:13.000000,2017-03-13 09:08:06.000000,10000.0,11500.0,15.0,NaN,2017-04-11 07:53:43.000000,2017-03-28 00:00:00.000000,2017-04-11 07:38:34.000000,NaN
35713,8a858f5d5963fbb701597473936c208a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301816206.0,...,2017-02-13 16:27:19.000000,2017-02-13 15:27:12.000000,10000.0,13000.0,30.0,NaN,2017-03-12 23:27:28.000000,2017-03-15 00:00:00.000000,2017-03-12 23:12:18.000000,NaN
35714,8a858f6459b6456d0159b69978f22bed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301796830.0,...,2017-01-19 14:00:16.000000,2017-01-19 13:00:02.000000,10000.0,11500.0,15.0,NaN,2017-02-15 09:06:34.000000,2017-02-03 00:00:00.000000,2017-02-15 08:51:25.000000,NaN
35715,8a858f7958b0a4a80158b261fd354f17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301901952.0,...,2017-05-11 19:37:57.000000,2017-05-11 18:37:51.000000,10000.0,12250.0,30.0,NaN,2017-06-02 09:17:55.000000,2017-06-12 00:00:00.000000,2017-06-02 09:07:46.000000,NaN
35716,8a858f7958b0a4a80158b261fd354f17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301946024.0,...,2017-06-21 08:38:53.000000,2017-06-21 07:37:46.000000,10000.0,12250.0,30.0,NaN,2017-07-11 15:50:12.000000,2017-07-21 00:00:00.000000,2017-07-11 15:40:03.000000,NaN
35717,8a858f7e564ad33801565a5614763e6a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301755657.0,...,2016-11-07 14:44:19.000000,2016-11-07 13:44:09.000000,20000.0,24500.0,30.0,NaN,2016-12-06 19:04:01.000000,2016-12-07 00:00:00.000000,2016-12-06 18:48:52.000000,NaN
35718,8a858f7e564ad33801565a5614763e6a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301770200.0,...,2016-12-06 19:22:02.000000,2016-12-06 18:21:52.000000,30000.0,34400.0,30.0,NaN,2017-01-05 13:21:47.000000,2017-01-05 00:00:00.000000,2017-01-05 13:06:37.000000,NaN
35719,8a858f8f5bfd3cfa015c0b4d7b61102c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301924672.0,...,2017-06-02 10:05:01.000000,2017-06-02 09:04:55.000000,10000.0,13000.0,30.0,NaN,2017-07-14 09:03:14.000000,2017-07-03 00:00:00.000000,2017-07-14 08:53:06.000000,NaN
35720,8a858f98560bbe110156170e27073502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301842115.0,...,2017-03-20 09:38:06.000000,2017-03-20 08:37:58.000000,10000.0,13000.0,30.0,NaN,2017-03-27 15:55:12.000000,2017-04-19 00:00:00.000000,2017-03-27 15:40:02.000000,NaN
35721,8a858f98560bbe110156170e27073502,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301900383.0,...,2017-05-11 04:28:23.000000,2017-05-11 03:28:06.000000,20000.0,24500.0,30.0,NaN,2017-06-12 10:29:55.000000,2017-06-12 00:00:00.000000,2017-06-12 10:19:46.000000,NaN
35722,8a858fa5552add5d01554935cd6633ac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301790143.0,...,2017-01-09 15:30:43.000000,2017-01-09 14:30:36.000000,20000.0,21900.0,15.0,NaN,2017-01-20 22:20:02.000000,2017-01-24 00:00:00.000000,2017-01-20 22:04:53.000000,NaN
35723,8a858fa5552add5d01554935cd6633ac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301643533.0,...,2016-07-04 10:11:13.000000,2016-07-04 09:11:00.000000,10000.0,11500.0,15.0,NaN,2016-07-25 05:25:00.000000,2016-07-19 00:00:00.000000,2016-07-25 05:09:56.000000,NaN
35724,8a858fad5ccb633e015ccbe337372ab3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301946936.0,...,2017-06-21 20:19:29.000000,2017-06-21 19:18:21.000000,10000.0,13000.0,30.0,8a858eaa55a0b8ae0155ad2cab5e49cc,2017-07-07 17:08:47.000000,2017-07-21 00:00:00.000000,2017-07-07 16:58:38.000000,NaN
35725,8a858fbd59acee6a0159adcc397f059a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301855470.0,...,2017-04-04 22:36:08.000000,2017-04-04 21:36:02.000000,20000.0,21900.0,15.0,NaN,2017-04-12 17:25:57.000000,2017-04-19 00:00:00.000000,2017-04-12 17:10:48.000000,NaN
35726,8a858fcd56b9f22c0156c5b280650d11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301751864.0,...,2016-10-30 10:48:28.000000,2016-10-30 09:48:18.000000,20000.0,24500.0,30.0,NaN,2016-11-28 14:47:37.000000,2016-11-30 00:00:00.000000,2016-11-28 14:32:28.000000,NaN
35727,8a858fcd56b9f22c0156c5b280650d11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301878599.0,...,2017-04-24 13:11:28.000000,2017-04-24 12:11:20.000000,30000.0,34100.0,30.0,NaN,2017-05-23 12:46:27.000000,2017-05-24 00:00:00.000000,2017-05-23 12:31:17.000000,NaN
35728,8a858fcd56b9f22c0156c5b280650d11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301695859.0,...,2016-08-26 08:14:14.000000,2016-08-26 07:13:58.000000,10000.0,13000.0,30.0,NaN,2016-09-20 00:07:34.000000,2016-09-26 00:00:00.000000,2016-09-19 11:33:26.000000,NaN
35729,8a858fd3552c756201553f187a62138c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301639335.0,...,2016-06-28 00:38:25.000000,2016-06-27 23:38:17.000000,10000.0,13000.0,30.0,NaN,2016-07-02 11:30:37.000000,2016-07-28 00:00:00.000000,2016-07-02 11:15:35.000000,NaN
35730,8a858fd3552c756201553f187a62138c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301894613.0,...,2017-05-08 00:18:32.000000,2017-05-07 23:18:19.000000,30000.0,39000.0,60.0,NaN,2017-06-14 13:33:07.000000,2017-06-07 00:00:00.000000,2017-06-07 12:37:34.000000,NaN
35731,8a858fd3552c756201553f187a62138c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301754311.0,...,2016-11-04 08:01:33.000000,2016-11-04 07:01:24.000000,20000.0,24500.0,30.0,NaN,2016-12-06 00:13:31.000000,2016-12-05 00:00:00.000000,2016-12-05 23:58:22.000000,NaN
35732,8a858fe25b8c4e5c015b8f61faf34239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301929936.0,...,2017-06-07 12:23:24.000000,2017-06-07 11:23:17.000000,15000.0,18375.0,30.0,8a858fa75b5c94ed015b5ca7267d13f2,2017-07-05 13:53:17.000000,2017-07-07 00:00:00.000000,2017-07-05 13:43:08.000000,NaN
35733,8a858fe758dc437a0158eb12515362d4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301835353.0,...,2017-03-10 10:33:41.000000,2017-03-10 09:33:34.000000,10000.0,13000.0,30.0,NaN,2017-04-08 07:49:12.000000,2017-04-10 00:00:00.000000,2017-04-08 07:34:03.000000,NaN
35734,8a858ff455a09f5a0155ba378c9b10bc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301674395.0,...,2016-08-09 11:55:35.000000,2016-08-09 10:55:28.000000,10000.0,13000.0,30.0,NaN,2016-09-08 11:24:08.000000,2016-09-08 00:00:00.000000,2016-09-08 11:09:05.000000,NaN
35735,8a858ff455a09f5a0155ba378c9b10bc,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301774291.0,...,2016-12-15 09:29:59.000000,2016-12-15 08:29:49.000000,30000.0,36800.0,60.0,NaN,2017-02-06 08:00:39.000000,2017-01-16 00:00:00.000000,2017-01-17 10:58:19.000000,NaN
35736,8a858899538ddb8e0153a2b555421fc5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301611754.0,...,2016-04-16 13:36:34.000000,2016-04-16 12:36:28.000000,10000.0,13000.0,30.0,NaN,2016-05-14 00:04:52.000000,2016-05-16 00:00:00.000000,2016-05-13 18:05:07.000000,NaN
35737,8a858899538ddb8e0153a2b555421fc5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301761267.0,...,2016-11-18 14:26:07.000000,2016-11-18 13:25:51.000000,30000.0,34400.0,30.0,NaN,2016-12-13 16:08:57.000000,2016-12-19 00:00:00.000000,2016-12-13 15:53:48.000000,NaN
35738,8a858899538ddb8e0153a2b555421fc5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301631653.0,...,2016-06-12 15:30:56.000000,2016-06-12 14:30:50.000000,10000.0,13000.0,30.0,NaN,2016-07-09 15:39:00.000000,2016-07-12 00:00:00.000000,2016-07-09 15:23:56.000000,NaN
35739,8a858f0656b7820c0156c92ca3ba436f,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301697691.0,...,2016-08-27 20:03:45.000000,2016-08-27 19:03:34.000000,10000.0,13000.0,30.0,NaN,2016-10-15 10:17:54.000000,2016-09-26 00:00:00.000000,2016-10-15 10:02:45.000000,NaN
35740,8a858faf5679a838015688de3028143d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,301715255.0,...,2016-09-14 23:42:14.000000,2016-09-14 22:42:05.000000,10000.0,13000.0,30.0,NaN,2016-09-29 19:51:04.000000,2016-10-14 00:00:00.000000,2016-09-29 19:35:55.000000,NaN

In [42]:
df.describe

<bound method NDFrame.describe of                              customerid                   birthdate  \
0      8a858f305c8dd672015c93b1db645db4  1976-08-28 00:00:00.000000
1      8a858f085a477386015a47fb049e49ca  1978-06-23 00:00:00.000000
2      8a858e6f5cd5e874015cd6f5634c39ad  1984-04-04 00:00:00.000000
3      8a858e9d5bfd7037015bfdab79f61305  1983-05-28 00:00:00.000000
4      8a858fde56eb02280156eb6dafc128ac  1982-03-29 00:00:00.000000
5      8a858e695775665c015779a1a5cc1192  1988-11-19 00:00:00.000000
6      8a858e225c404292015c4e2b42c67bbe  1986-05-27 00:00:00.000000
7      8a858fcf5b39c3ba015b3d9f215c3922  1978-06-11 00:00:00.000000
8      8a858edd5c8348c4015c8452bc364cd7  1982-02-06 00:00:00.000000
9      8a858ef25c8393f8015c86783932595b  1991-02-09 00:00:00.000000
10     8a858edc5ceea2e6015ceea77c5c0300  1987-10-20 00:00:00.000000
11     8a858e5856b7840c0156bb256d6e0e6a  1991-01-11 00:00:00.000000
12     8a858e8b5bc9e7e6015bcd7b7ee305b9  1983-12-25 00:00:00.000000
13     8a858e585693982b015698da71ca5342  1975-12-07 00:00:00.000000
14     8a858e785c8d9167015c90a6e2c45e08  1982-06-28 00:00:00.000000
15     8a8588c2546bf759015471842d602473  1991-08-17 00:00:00.000000
16     8a858ee45b62dadc015b660294b5292e  1975-03-14 00:00:00.000000
17     8a858ef358d4a48e0158d50224cb12c5  1966-04-04 00:00:00.000000
18     8a858ef85a613c85015a684e546a4e82  1988-06-12 00:00:00.000000
19     8a858ff257048b50015709ffa148518e  1984-04-18 00:00:00.000000
20     8a858e9b5bcf8546015bcff969fd0f8f  1991-09-06 00:00:00.000000
21     8a85888c548fb3d501549593ea277c88  1970-03-22 00:00:00.000000
22     8a858ec75c11a07a015c16a2289b4fa7  1972-02-16 00:00:00.000000
23     8a858ef7597cf4c501597e2416f907aa  1982-02-25 00:00:00.000000
24     8a858ec95afc0922015aff7d927011fb  1982-07-28 00:00:00.000000
25     8a858ed75732b68101574d1614f23803  1983-07-28 00:00:00.000000
26     8a858ede5ca210f0015ca340de706114  1985-07-24 00:00:00.000000
27     8a858ec655f96b320156071dd95b4be0  1984-10-25 00:00:00.000000
28     8a858fa25c120898015c132919e544fc  1982-12-10 00:00:00.000000
29     8a858e135cb22031015cb58116983b37  1986-06-05 00:00:00.000000
...                                 ...                         ...
35711  8a858f3e5885ffa30158928cad6501c6                         NaN
35712  8a858f585a6bfa1d015a6f8b2d582fb9                         NaN
35713  8a858f5d5963fbb701597473936c208a                         NaN
35714  8a858f6459b6456d0159b69978f22bed                         NaN
35715  8a858f7958b0a4a80158b261fd354f17                         NaN
35716  8a858f7958b0a4a80158b261fd354f17                         NaN
35717  8a858f7e564ad33801565a5614763e6a                         NaN
35718  8a858f7e564ad33801565a5614763e6a                         NaN
35719  8a858f8f5bfd3cfa015c0b4d7b61102c                         NaN
35720  8a858f98560bbe110156170e27073502                         NaN
35721  8a858f98560bbe110156170e27073502                         NaN
35722  8a858fa5552add5d01554935cd6633ac                         NaN
35723  8a858fa5552add5d01554935cd6633ac                         NaN
35724  8a858fad5ccb633e015ccbe337372ab3                         NaN
35725  8a858fbd59acee6a0159adcc397f059a                         NaN
35726  8a858fcd56b9f22c0156c5b280650d11                         NaN
35727  8a858fcd56b9f22c0156c5b280650d11                         NaN
35728  8a858fcd56b9f22c0156c5b280650d11                         NaN
35729  8a858fd3552c756201553f187a62138c                         NaN
35730  8a858fd3552c756201553f187a62138c                         NaN
35731  8a858fd3552c756201553f187a62138c                         NaN
35732  8a858fe25b8c4e5c015b8f61faf34239                         NaN
35733  8a858fe758dc437a0158eb12515362d4                         NaN
35734  8a858ff455a09f5a0155ba378c9b10bc                         NaN
35735  8a858ff455a09f5a0155ba378c9b10bc                         NaN
35736  8a858899538ddb8e0153a2b555421fc5                         NaN
35737  8a858899538ddb8e0153a2b555421fc5                         NaN
35738  8a858899538ddb8e0153a2b555421fc5                         NaN
35739  8a858f0656b7820c0156c92ca3ba436f                         NaN
35740  8a858faf5679a838015688de3028143d                         NaN

      bank_account_type  longitude_gps  latitude_gps bank_name_clients  \
0               Savings       5.296628      7.593965     Heritage Bank
1               Savings       3.294513      6.596602               UBA
2               Savings       8.501912      7.729364        First Bank
3               Savings       3.318904      6.681595               UBA
4               Savings       6.354624      4.949031        First Bank
5                 Other       3.307558      7.112214       Access Bank
6               Savings       8.349746      4.964838        First Bank
7               Savings       3.892932      7.408140           GT Bank
8               Savings       3.432870      6.837874      Stanbic IBTC
9               Savings       7.527908      6.427476      Diamond Bank
10              Savings       8.339893      5.028449      Diamond Bank
11                Other       3.309942      6.461257           GT Bank
12              Savings       3.484045      6.628056           GT Bank
13                Other       3.508716      6.604927       Zenith Bank
14              Savings       8.365703      4.978805       Access Bank
15              Savings       3.194129      6.490132       Access Bank
16              Savings       3.203233      6.789578               UBA
17              Savings       4.545483      7.485733        Union Bank
18              Savings       3.911841      7.529853           GT Bank
19              Savings       8.512482      7.717232              FCMB
20              Savings       7.396520      9.060305        First Bank
21              Savings       3.864858      7.472580           GT Bank
22              Savings       3.274242      6.469213         Skye Bank
23              Savings       5.216718      7.266246           GT Bank
24              Savings       3.275533      6.476880               UBA
25                Other       3.377692      6.551124           GT Bank
26              Savings       3.550017      6.452325           GT Bank
27                Other       3.420987      6.427138           GT Bank
28              Savings       7.242690      5.438072        First Bank
29              Savings       7.151251      4.401684           GT Bank
...                 ...            ...           ...               ...
35711               NaN            NaN           NaN               NaN
35712               NaN            NaN           NaN               NaN
35713               NaN            NaN           NaN               NaN
35714               NaN            NaN           NaN               NaN
35715               NaN            NaN           NaN               NaN
35716               NaN            NaN           NaN               NaN
35717               NaN            NaN           NaN               NaN
35718               NaN            NaN           NaN               NaN
35719               NaN            NaN           NaN               NaN
35720               NaN            NaN           NaN               NaN
35721               NaN            NaN           NaN               NaN
35722               NaN            NaN           NaN               NaN
35723               NaN            NaN           NaN               NaN
35724               NaN            NaN           NaN               NaN
35725               NaN            NaN           NaN               NaN
35726               NaN            NaN           NaN               NaN
35727               NaN            NaN           NaN               NaN
35728               NaN            NaN           NaN               NaN
35729               NaN            NaN           NaN               NaN
35730               NaN            NaN           NaN               NaN
35731               NaN            NaN           NaN               NaN
35732               NaN            NaN           NaN               NaN
35733               NaN            NaN           NaN               NaN
35734               NaN            NaN           NaN               NaN
35735               NaN            NaN           NaN               NaN
35736               NaN            NaN           NaN               NaN
35737               NaN            NaN           NaN               NaN
35738               NaN            NaN           NaN               NaN
35739               NaN            NaN           NaN               NaN
35740               NaN            NaN           NaN               NaN

      bank_branch_clients employment_status_clients  \
0                     NaN                 Permanent
1                     NaN                 Permanent
2                     NaN                 Permanent
3                     NaN                 Permanent
4                     NaN             Self-Employed
5                     NaN             Self-Employed
6                     NaN                 Permanent
7                     NaN                       NaN
8                     NaN                       NaN
9                     NaN                 Permanent
10                    NaN                 Permanent
11                    NaN             Self-Employed
12                    NaN                 Permanent
13                    NaN                 Permanent
14                    NaN                       NaN
15                    NaN                 Permanent
16                    NaN                 Permanent
17                    NaN                 Permanent
18                    NaN                 Permanent
19                    NaN             Self-Employed
20                    NaN                 Permanent
21                    NaN                 Permanent
22                    NaN                 Permanent
23                    NaN                 Permanent
24                    NaN                 Permanent
25                    NaN                 Permanent
26                    NaN                 Permanent
27                    NaN                 Permanent
28                    NaN                 Permanent
29                    NaN                 Permanent
...                   ...                       ...
35711                 NaN                       NaN
35712                 NaN                       NaN
35713                 NaN                       NaN
35714                 NaN                       NaN
35715                 NaN                       NaN
35716                 NaN                       NaN
35717                 NaN                       NaN
35718                 NaN                       NaN
35719                 NaN                       NaN
35720                 NaN                       NaN
35721                 NaN                       NaN
35722                 NaN                       NaN
35723                 NaN                       NaN
35724                 NaN                       NaN
35725                 NaN                       NaN
35726                 NaN                       NaN
35727                 NaN                       NaN
35728                 NaN                       NaN
35729                 NaN                       NaN
35730                 NaN                       NaN
35731                 NaN                       NaN
35732                 NaN                       NaN
35733                 NaN                       NaN
35734                 NaN                       NaN
35735                 NaN                       NaN
35736                 NaN                       NaN
35737                 NaN                       NaN
35738                 NaN                       NaN
35739                 NaN                       NaN
35740                 NaN                       NaN

      level_of_education_clients  systemloanid      ...       \
0                            NaN           NaN      ...
1                            NaN           NaN      ...
2                            NaN           NaN      ...
3                            NaN           NaN      ...
4                            NaN           NaN      ...
5                  Post-Graduate           NaN      ...
6                            NaN           NaN      ...
7                            NaN           NaN      ...
8                            NaN           NaN      ...
9                            NaN           NaN      ...
10                           NaN           NaN      ...
11                      Graduate           NaN      ...
12                           NaN           NaN      ...
13                      Graduate           NaN      ...
14                           NaN           NaN      ...
15                           NaN           NaN      ...
16                           NaN           NaN      ...
17                           NaN           NaN      ...
18                           NaN           NaN      ...
19                           NaN           NaN      ...
20                           NaN           NaN      ...
21                 Post-Graduate           NaN      ...
22                           NaN           NaN      ...
23                           NaN           NaN      ...
24                           NaN           NaN      ...
25                      Graduate           NaN      ...
26                           NaN           NaN      ...
27                           NaN           NaN      ...
28                           NaN           NaN      ...
29                           NaN           NaN      ...
...                          ...           ...      ...
35711                        NaN   301772259.0      ...
35712                        NaN   301836927.0      ...
35713                        NaN   301816206.0      ...
35714                        NaN   301796830.0      ...
35715                        NaN   301901952.0      ...
35716                        NaN   301946024.0      ...
35717                        NaN   301755657.0      ...
35718                        NaN   301770200.0      ...
35719                        NaN   301924672.0      ...
35720                        NaN   301842115.0      ...
35721                        NaN   301900383.0      ...
35722                        NaN   301790143.0      ...
35723                        NaN   301643533.0      ...
35724                        NaN   301946936.0      ...
35725                        NaN   301855470.0      ...
35726                        NaN   301751864.0      ...
35727                        NaN   301878599.0      ...
35728                        NaN   301695859.0      ...
35729                        NaN   301639335.0      ...
35730                        NaN   301894613.0      ...
35731                        NaN   301754311.0      ...
35732                        NaN   301929936.0      ...
35733                        NaN   301835353.0      ...
35734                        NaN   301674395.0      ...
35735                        NaN   301774291.0      ...
35736                        NaN   301611754.0      ...
35737                        NaN   301761267.0      ...
35738                        NaN   301631653.0      ...
35739                        NaN   301697691.0      ...
35740                        NaN   301715255.0      ...

                     approveddate                creationdate loanamount  \
0                             NaN                         NaN        NaN
1                             NaN                         NaN        NaN
2                             NaN                         NaN        NaN
3                             NaN                         NaN        NaN
4                             NaN                         NaN        NaN
5                             NaN                         NaN        NaN
6                             NaN                         NaN        NaN
7                             NaN                         NaN        NaN
8                             NaN                         NaN        NaN
9                             NaN                         NaN        NaN
10                            NaN                         NaN        NaN
11                            NaN                         NaN        NaN
12                            NaN                         NaN        NaN
13                            NaN                         NaN        NaN
14                            NaN                         NaN        NaN
15                            NaN                         NaN        NaN
16                            NaN                         NaN        NaN
17                            NaN                         NaN        NaN
18                            NaN                         NaN        NaN
19                            NaN                         NaN        NaN
20                            NaN                         NaN        NaN
21                            NaN                         NaN        NaN
22                            NaN                         NaN        NaN
23                            NaN                         NaN        NaN
24                            NaN                         NaN        NaN
25                            NaN                         NaN        NaN
26                            NaN                         NaN        NaN
27                            NaN                         NaN        NaN
28                            NaN                         NaN        NaN
29                            NaN                         NaN        NaN
...                           ...                         ...        ...
35711  2016-12-11 17:34:33.000000  2016-12-11 16:34:23.000000    10000.0
35712  2017-03-13 10:08:13.000000  2017-03-13 09:08:06.000000    10000.0
35713  2017-02-13 16:27:19.000000  2017-02-13 15:27:12.000000    10000.0
35714  2017-01-19 14:00:16.000000  2017-01-19 13:00:02.000000    10000.0
35715  2017-05-11 19:37:57.000000  2017-05-11 18:37:51.000000    10000.0
35716  2017-06-21 08:38:53.000000  2017-06-21 07:37:46.000000    10000.0
35717  2016-11-07 14:44:19.000000  2016-11-07 13:44:09.000000    20000.0
35718  2016-12-06 19:22:02.000000  2016-12-06 18:21:52.000000    30000.0
35719  2017-06-02 10:05:01.000000  2017-06-02 09:04:55.000000    10000.0
35720  2017-03-20 09:38:06.000000  2017-03-20 08:37:58.000000    10000.0
35721  2017-05-11 04:28:23.000000  2017-05-11 03:28:06.000000    20000.0
35722  2017-01-09 15:30:43.000000  2017-01-09 14:30:36.000000    20000.0
35723  2016-07-04 10:11:13.000000  2016-07-04 09:11:00.000000    10000.0
35724  2017-06-21 20:19:29.000000  2017-06-21 19:18:21.000000    10000.0
35725  2017-04-04 22:36:08.000000  2017-04-04 21:36:02.000000    20000.0
35726  2016-10-30 10:48:28.000000  2016-10-30 09:48:18.000000    20000.0
35727  2017-04-24 13:11:28.000000  2017-04-24 12:11:20.000000    30000.0
35728  2016-08-26 08:14:14.000000  2016-08-26 07:13:58.000000    10000.0
35729  2016-06-28 00:38:25.000000  2016-06-27 23:38:17.000000    10000.0
35730  2017-05-08 00:18:32.000000  2017-05-07 23:18:19.000000    30000.0
35731  2016-11-04 08:01:33.000000  2016-11-04 07:01:24.000000    20000.0
35732  2017-06-07 12:23:24.000000  2017-06-07 11:23:17.000000    15000.0
35733  2017-03-10 10:33:41.000000  2017-03-10 09:33:34.000000    10000.0
35734  2016-08-09 11:55:35.000000  2016-08-09 10:55:28.000000    10000.0
35735  2016-12-15 09:29:59.000000  2016-12-15 08:29:49.000000    30000.0
35736  2016-04-16 13:36:34.000000  2016-04-16 12:36:28.000000    10000.0
35737  2016-11-18 14:26:07.000000  2016-11-18 13:25:51.000000    30000.0
35738  2016-06-12 15:30:56.000000  2016-06-12 14:30:50.000000    10000.0
35739  2016-08-27 20:03:45.000000  2016-08-27 19:03:34.000000    10000.0
35740  2016-09-14 23:42:14.000000  2016-09-14 22:42:05.000000    10000.0

       totaldue  termdays                        referredby  \